<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row match-height d-flex justify-content-center">



            <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content col-lg-offset-2">
                <div class="card cursor" (click)="changePage('Umum')">
                    <img alt="knowledge-base-image" class="card-img-top" src="assets/images/antrian-umum.png">
                    <div class="card-body text-center">
                        <h4>Pasien {{jenisBaruLama}}</h4>
                        <h4>Umum</h4>
                        <!-- <p class="text-body mt-1 mb-0">Ambil antrian untuk pasien Umum.</p> -->
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                <div class="card cursor" (click)="changePage('BPJS')">
                    <img alt="knowledge-base-image" class="card-img-top" src="assets/images/antrian-bpjs_2.png">
                    <div class="card-body text-center">
                        <h4>Pasien {{jenisBaruLama}}</h4>
                        <h4>BPJS</h4>
                        <!-- <p class="text-body mt-1 mb-0">Ambil antrian untuk pasien BPJS.</p> -->
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                <div class="card cursor" (click)="changePage('Asuransi')">
                    <div class="d-flex pt-3" style="justify-content: center; ">
                        <img alt="knowledge-base-image" class="card-img-top" src="assets/images/lansia_anak.png">
                    </div>
                    <div class="card-body text-center mt-1">
                        <h4>Lansia & Anak</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>