<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <form [formGroup]="formGroup">
            <section class="basic-select" *ngIf="!isInfoPasien">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <!-- <div class="card-header">
                            <h4 class="card-title">Nama Pasien : {{ dataCache.namapasien}}</h4>
                        </div> -->

                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-3 col-lg-4"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2"
                                                formControlName="ceklisEkse" (change)="changeClick()" />
                                            <label class="custom-control-label" for="customCheck2">Eksekutif</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-3 col-lg-4"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="basicSelect">Poli </label>
                                        <div class="form-group">
                                            <!-- <ng-select [items]="selectBasic" bindLabel="name" [loading]="selectBasicLoading"> </ng-select> -->
                                            <ng-select class="ng-select-size-lg" id="basicSelect" [items]="listRuangan"
                                                formControlName="idRuangan" (change)="changePoli($event)">
                                                <!-- <option *ngFor="let items of listRuangan" [value]="items">{{items.label}}</option> -->

                                            </ng-select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row" *ngIf="isAsuransi">
                                    <div class="col-12 col-md-3 col-lg-4"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="basicSelectAsuransi">Asuransi </label>
                                        <div class="form-group">
                                            <ng-select class="ng-select-size-lg" id="basicSelectAsuransi" [items]="listAsuransi"
                                                formControlName="idAsuransi">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="isPerusahaan">
                                    <div class="col-12 col-md-3 col-lg-4"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="basicSelectPerusahaan">Perusahaan </label>
                                        <div class="form-group">
                                            <ng-select class="ng-select-size-lg" id="basicSelectPerusahaan" [items]="listPerusahaan"
                                                formControlName="idPerusahaan">
                                            </ng-select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-3 col-lg-4"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <label for="basicSelectDokter">Dokter</label>
                                        <div class="form-group">
                                            <ng-select class="ng-select-size-lg" id="basicSelectDokter" [items]="listDokter"
                                                formControlName="idDokter">
                                            </ng-select>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-3 col-lg-4"></div>
                                    <div class="col-12 col-md-6 col-lg-4">
                                        <button type="button" class="btn btn-outline-primary mb-1" rippleEffect
                                            style="width:100%" (click)="viewResume()">Selanjutnya</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section *ngIf="isInfoPasien">
                <div class="row">
                    <div class="col-12 col-md-3 col-lg-4"></div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="card">
                            <div class="card-header " style="display: inline;">
                                <h3>No. RM : {{item.nocm }}</h3>
                            </div>
                            <div class="card-body">
                                <p class="card-text"> Nama Pasien </p>
                                <h4 class="card-title"> {{item.namapasien}}</h4>

                                <p class="card-text">Tempat Tgl Lahir </p>
                                <h4 class="card-title"> {{item.tempatTglLahir}}</h4>

                                <p class="card-text"> No. Telpon </p>
                                <h4 class="card-title"> {{item.notelepon}}</h4>

                                <p class="card-text"> Tanggal Pendaftaran </p>
                                <h4 class="card-title"> {{item.tglregistrasi}}</h4>

                                <p class="card-text">Poli Tujuan </p>
                                <h4 class="card-title"> {{item.namaruangan}}</h4>

                                <p class="card-text">Dokter </p>
                                <h4 class="card-title">{{item.dokter == null? '-': item.dokter}}</h4>

                                <p class="card-text" *ngIf="isPerusahaan">Jenis Pembiayaan </p>
                                <h4 class="card-title" *ngIf="isPerusahaan">Perusahaan</h4>

                                <p class="card-text" *ngIf="isPerusahaan">Penjamin </p>
                                <h4 class="card-title" *ngIf="isPerusahaan">{{item.persuahaan == null? '-': item.persuahaan}}</h4>

                                <p class="card-text" *ngIf="isAsuransi">Jenis Pembiayaan </p>
                                <h4 class="card-title" *ngIf="isAsuransi">Asuransi</h4>

                                <p class="card-text" *ngIf="isAsuransi">Penjamin </p>
                                <h4 class="card-title" *ngIf="isAsuransi">{{item.asuransi == null? '-': item.asuransi}}</h4>
                         
                                <div class="row mt-2">

                                    <div class="col-12  col-md-12" *ngIf="!showNoAntrian">
                                        <button type="button" class="btn btn-outline-primary mb-1" rippleEffect
                                            style="width:100%" (click)="save()">Simpan</button>
                                    </div>
                                    <div class="col-12  col-md-12" *ngIf="showNoAntrian">
                                        <button type="button" class="btn btn-outline-success mb-1" rippleEffect
                                            style="width:100%" (click)="nomorAntrian()">Cetak
                                            Nomor Antrian</button>
                                    </div>
                                    <img *ngIf="loading" style="margin-top:10px"
                                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </form>
    </div>
</div>