<div class="header-navbar navbar navbar-expand-lg align-items-center navbar-shadow navbar-light floating-nav"
    style="    margin-top: 0.5rem;">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <a aria-current="page" class="nuxt-link-exact-active nuxt-link-active"
                style="display: flex; height: 100%;"><img style="object-fit: cover; height: 40px;"
                    src="assets/img/logo_only.png"><span
                    style="font-size: 18px; margin-left: 20px; font-weight: bold; display: flex; align-items: center;">
                    <div class="labels white--text" style="line-height: 1; align-self: center;">
                        <div style="font-size: 1.3rem;">RSUD BALI MANDARA</div>
                        <div style="font-weight: 500; font-size: 0.7rem; margin-top: 5px;">{{brand}}</div>
                    </div>
                </span></a>

        </div>
        <ul class="nav navbar-nav align-items-center ml-auto">
            <li class="nav-item d-none d-lg-block"><a type="button" class="nav-link nav-link-style btn"><span
                        class="ficon font-medium-5 feather icon-moon"></span></a></li>
            <li ngbdropdown="" class="nav-item dropdown-user">
                <span id="navbarUserDropdown" ngbdropdowntoggle="" aria-haspopup="true" aria-expanded="false"
                    class="dropdown-toggle nav-link dropdown-user-link">
                    <div class="user-nav d-sm-flex d-none">
                        <span class=""
                            style="cursor: pointer;color:black">
                      <span class="tanggal user-name font-weight-bolder"  [routerLink]="['/index']" pTooltip="Kembali">{{tgl}}</span><span class="jam user-name font-weight-bolder">{{jamSekarang}}</span>
                            <span class="jam2 user-name font-weight-bolder" style="color:black" (click)="handleDoubleClick()">Change Video</span>
                        </span>


                    </div>

                </span>
            </li>
        </ul>
    </div>
</div>
<div class="app-content">
    <!-- <div class="p-grid" style="margin-top: -2.5rem;"> -->
    <div class="p-grid">
        <!-- <div class="p-col-12 " style="    margin-top: -1.5rem;">
        </div> -->

        <div class="p-col-12 p-lg-6 p-md-6">
            <div class="p-grid">
                <div class="p-col-12 p-md-12  widget-customer-carousel" (click)="showPop()">
                    <div class="card text-center" style="cursor: pointer;">
                        <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 415px)'}">
                            <!-- <div class="container6 " > -->
                            <div class="video-player-wrapper">
                                <iframe [src]='safeURL' frameborder="0" width="100%" style="height:calc(100vh - 415px)" allow='autoplay'
                                    allowfullscreen></iframe>
                                <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/1ozGKlOzEVc" frameborder="0" allowfullscreen></iframe> -->
                                <!-- dpHls -->
                                <!-- <d-player dpHls preload="auto" #player [video]="{url: pilihVideo}" [loop]='true'
                                    [volume]="0" [screenshot]="true"></d-player> -->

                            </div>
                        </p-scrollPanel>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-lg-6 p-md-6">
            <div class="p-grid">
                <div class="p-col-12 p-md-12  widget-customer-carousel">
                    <div class="card  brder text-center">
                        <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 430px)'}">
                            <div class="customer-item-content">
                                <h4 style="padding:10px;">Antrian Terakhir</h4>
                            </div>
                            <div class="badge-light-danger2" style=" height: calc(100vh - 600px);" [ngClass]="{'blink ' : dipanggil}">
                                <p class="text-noakhir" style="    padding-top: calc(100% - 700px);">
                                    {{item.antriTerakhir != undefined ? item.antriTerakhir : '-' }}
                                </p>
                                <div class="div-text">
                                    <span class="text-namapasien"> {{item.namapasien}}</span>
                                </div>
                            </div>
                            <div class="customer-item-content" style="margin-top:10px;">
                                <span class="text-menu">Silahkan Menuju</span>
                                <p class="text-poliakhir">{{item.poliPanggil}}</p>
                            </div>
                        </p-scrollPanel>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-col-12 p-lg-12" style="margin-top:-15px">
            <div class="card " *ngIf="listRuanganAktif.length== 0 ">
                <div class="p-grid">
                    <div class="p-col-12 p-md-2" *ngFor="let itemzz of numberss">
                        <div class="card text-center">
                            <div style=" position: relative;
                                left: 20%;">
                                <p-skeleton shape="circle" size="7rem" styleClass="text-center p-mb-2"></p-skeleton>
                            </div>
                            <p-skeleton width="100%" height="15px" styleClass="p-mb-2" borderRadius="16px">
                            </p-skeleton>
                            <p-skeleton width="100%" height="20px" styleClass="p-mb-2" borderRadius="16px">
                            </p-skeleton>
                            <p-skeleton width="100%" height="35px" borderRadius="16px"></p-skeleton>

                        </div>
                    </div>
                </div>
            </div>
            <div class="p-grid" *ngIf="listRuanganAktif.length > 0 ">
                <div class="p-col-12 p-md-2 widget-customer-carousel" *ngFor="let items of listRuanganAktif">
                    <div class="card brder2 text-center">
                        <img class="image" src="assets/img/{{items.nocounter}}.png">
                        <p class="text-antrian">Antrian</p>
                        <p class="text-ruangan">{{items.namaruangan}}</p>
                        <div class="badge-light-danger22">
                            <p class="text-nomorantri">
                                {{items.noantri}}
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="p-col-12 p-md-2 widget-customer-carousel">
                    <div class="card brder2 text-center">
                        <img class="image" src="assets/img/11.png">
                        <p style="color: #868C9B;font-size: 1rem;margin:0">Antrian</p>
                        <p style="font-size:1.3rem;color:#646464;margin:0">Poli Anak</p>
                        <div class="badge-light-danger22">
                            <p
                                style="font-size: 1.5rem;color:black;margin:0 0 0 0;font-weight: bold;padding:5px 0 5px 0">
                                1
                            </p>

                        </div>
                    </div>

                </div>
                <div class="p-col-12 p-md-2 widget-customer-carousel">
                    <div class="card brder2 text-center">
                        <img class="image" src="assets/img/21.png">
                        <p style="color: #868C9B;font-size: 1rem;margin:0">Antrian</p>
                        <p style="font-size:1.3rem;color:#646464;margin:0">Poli Gigi</p>
                        <div class="badge-light-danger22">
                            <p
                                style="font-size: 1.5rem;color:black;margin:0 0 0 0;font-weight: bold;padding:5px 0 5px 0">
                                2
                            </p>

                        </div>
                    </div>

                </div>
                <div class="p-col-12 p-md-2 widget-customer-carousel">
                    <div class="card brder2 text-center">
                        <img class="image" src="assets/img/31.png">
                        <p style="color: #868C9B;font-size: 1rem;margin:0">Antrian</p>
                        <p style="font-size:1.3rem;color:#646464;margin:0">Poli THT</p>
                        <div class="badge-light-danger22">
                            <p
                                style="font-size: 1.5rem;color:black;margin:0 0 0 0;font-weight: bold;padding:5px 0 5px 0">
                                13
                            </p>

                        </div>
                    </div>

                </div>
                <div class="p-col-12 p-md-2 widget-customer-carousel">
                    <div class="card brder2 text-center">
                        <img class="image" src="assets/img/41.png">
                        <p style="color: #868C9B;font-size: 1rem;margin:0">Antrian</p>
                        <p style="font-size:1.3rem;color:#646464;margin:0">Poli Jantung</p>
                        <div class="badge-light-danger22">
                            <p
                                style="font-size: 1.5rem;color:black;margin:0 0 0 0;font-weight: bold;padding:5px 0 5px 0">
                                15
                            </p>

                        </div>
                    </div>

                </div>
                <div class="p-col-12 p-md-2 widget-customer-carousel">
                    <div class="card brder2 text-center">
                        <img class="image" src="assets/img/51.png">
                        <p style="color: #868C9B;font-size: 1rem;margin:0">Antrian</p>
                        <p style="font-size:1.3rem;color:#646464;margin:0">Poli Obgyn</p>
                        <div class="badge-light-danger22">
                            <p
                                style="font-size: 1.5rem;color:black;margin:0 0 0 0;font-weight: bold;padding:5px 0 5px 0">
                                11
                            </p>

                        </div>
                    </div>

                </div> -->
            </div>
        </div>
    </div>
</div>
<p-dialog header="Detail" [(visible)]="popUp" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="p-fluid p-formgrid ">
        <div class="p-grid">
            <div class="p-col-12">
                <!-- <p-panel header="Pilih Channel" [toggleable]="true"> -->
                <!-- <div class="p-grid  ">
                        <div class="p-col-12 p-md-3" *ngFor="let itemss of videoSource">
                            <p-radioButton [inputId]="itemss.url" [value]="itemss" [(ngModel)]="item.channel">
                            </p-radioButton>
                            <label [for]="itemss.url"> {{itemss.name}}</label>
                        </div>
                    </div> -->
                <!-- <div class="p-grid ">
                        <div class="p-col-12"> -->
                <label class="label" for="input">URL</label>
                <input type="text" [(ngModel)]="videoURL" pInputText placeholder="URL Video" />
                <!-- </div> -->

                <!-- <div class="p-field-checkbox">
                            <p-checkbox name="group1" binary="true" [(ngModel)]="isVoiceBrowser" inputId="ny">
                            </p-checkbox>
                            <label for="ny">Pakai Suara Browser</label>
                        </div> -->
                <!-- </div>
                </p-panel>-->
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-save" (click)="save(player)" label="Simpan" class="ui-button-success">
        </p-button>
    </ng-template>
</p-dialog>
