<div class="content-wrapper">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>



    <!-- Knowledge base Jumbotron -->
    <section id="knowledge-base-search">
      <div class="row ">
        <div class="hide-leutik  col-12 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">
                <h4 class="pull-left">Hai, Selamat Datang Kios-K v2</h4>
                <h4 class="pull-right">Mesin Antrian {{ loketId }}</h4>
              </div>
              <!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> -->
            </div>
            <!-- <img class="img-fluid" src="assets/images/slider/03.jpg" alt="Card image cap" /> -->
            <div class="card-body">
              <ngb-carousel [interval]="2000" [pauseOnHover]="false" *ngIf="listImage">
                <ng-template ngbSlide *ngFor="let items of listImage">
                  <div class="carousel-img-wrapper">
                    <img [src]="items" class="img-fluid" alt="Random first slide" />
                  </div>
                  <div class="carousel-caption"></div>
                </ng-template>

              </ngb-carousel>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <!-- <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 col-xs-12 judulhead">
              <h4>Ambil Antrian</h4>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-6 col-xs-12 judulhead">
              <h4>Pendaftaran</h4>
            </div>
          </div> -->
          <div class="row">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 judulhead">
              <h4 class="judulheadd">Ambil Antrian</h4>

              <div class="row">
                <div class="col-12 col-lg-6 col-md-4 col-sm-6 col-xs-12 kb-search-content">
                  <div class="card cursor mb-1" (click)="validate('wni')">
                    <div class="d-flex" style="justify-content: center;">
                      <img alt="knowledge-base-image" class="card-img-top" src="assets/images/illustration/demand.svg">
                    </div>
                    <div class="card-body text-center p-1">
                      <h4>WNI</h4>
                      <p class="text-body mb-0">Pilih Kewarganegaraan Indonesia</p>
                    </div>

                  </div>
                </div>
                <div class="col-12 col-lg-6 col-md-4 col-sm-6 col-xs-12 kb-search-content">
                  <div class="card cursor mb-1" (click)="validate('wna')">
                    <div class="d-flex" style="justify-content: center;">
                      <img alt="knowledge-base-image" class="card-img-top" src="assets/images/illustration/email.svg">
                    </div>
                    <div class="card-body text-center p-1">
                      <h4>WNA</h4>
                      <p class="text-body mb-0">Pilih Kewarganegaraan Asing
                      </p>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 judulhead">
              <h4 class="judulheadd">Pendaftaran</h4>
              <div class="row">
                <!-- <div class="col-12 col-lg-4 col-md-4 col-sm-6 col-xs-12 kb-search-content">
                  <div class="card cursor" (click)="goTo('self-regis')">

                    <img alt="knowledge-base-image" class="card-img-top" src="assets/images/illustration/api.svg">
                    <div class="card-body text-center">
                      <h4>Registrasi</h4>
                      <p class="text-body mt-1 mb-0">Mendaftarkan secara Mandiri.</p>
                    </div>

                  </div>
                </div> -->
                <div class="col-12 col-lg-6 col-md-4 col-sm-6 col-xs-12 kb-search-content">
                  <div class="card cursor" (click)="goTo('checkin')">
                    <div class="d-flex" style="justify-content: center;">
                      <img alt="knowledge-base-image" class="card-img-top"
                        src="assets/images/illustration/marketing.svg" style="width: 35% !important;">
                    </div>
                    <div class="card-body text-center">
                      <h4>Check-In</h4>
                      <p class="text-body mt-1 mb-0">Konfirmasi kedatangan anda.</p>
                    </div>

                  </div>
                </div>
                <div class="col-12 col-lg-6 col-md-4 col-sm-6 col-xs-12 kb-search-content">
                  <div class="card cursor" (click)="goToFinger($event, elAlt)" #elAlt>
                    <div class="d-flex" style="justify-content: center;">
                      <img alt="knowledge-base-image" class="card-img-top" src="assets/images/illustration/finger3.svg"
                        style="width: 35% !important;">
                    </div>
                    <div class="card-body text-center">
                      <h4>FingerPrint BPJS</h4>
                      <p class="text-body mt-1 mb-0">Verifikasi FingerPrint BPJS.</p>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card plan-card border-primary">
                <div class="card-header d-flex justify-content-between align-items-center pt-75 pb-1">
                  <h5 class="mb-0"></h5>
                  <span class="badge badge-light-secondary" data-toggle="tooltip" data-placement="top"
                    title="Expiry Date">{{now}}<span class="nextYear"></span>
                  </span>
                </div>
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <button type="button" class="btn btn-outline-primary mb-1" rippleEffect
                        (click)="clickBtn('/informasi-profil')" style="width:100%">Profil</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <button type="button" class="btn btn-outline-secondary mb-1" rippleEffect
                        (click)="clickBtn('/informasi-pelayanan')" style="width:100%">Layanan</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <button type="button" class="btn btn-outline-success mb-1" rippleEffect
                        (click)="clickBtn('/informasi-kamar')" style="width:100%">Bed</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <button type="button" class="btn btn-outline-danger mb-1" rippleEffect
                        (click)="clickBtn('/informasi-promosi')" style="width:100%">Promosi</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <button type="button" class="btn btn-outline-warning mb-1" rippleEffect
                        (click)="clickBtn('/info-kritik')" style="width:100%">Survey</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                      <button type="button" class="btn btn-outline-info mb-1" rippleEffect (click)="clickBtn('/denah')"
                        style="width:100%">Denah</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <button type="button" class="btn btn-outline-success mb-1" rippleEffect
                        (click)="clickBtn('/cek-kepesertaan-bpjs')" style="width:100%">Cek Kepesertaan BPJS</button>
                    </div>
                  </div>

                  <!-- <div class="badge badge-light-primary">Basic</div> -->

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>


  </div>
</div>
<div style="margin-top:-2000px">
  <input #scanBarcode type="text" class="custom-control-input" placeholder="Reservasi "
    (input)="onChangeNoreservasi($event.target.value)" [(ngModel)]="model" *ng-if="show">
</div>
<!-- Modal -->
<ng-template #modalBPJS let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="myModalLabel160">Validasi Nomor BPJS</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" tabindex="0" ngbAutofocus>
    <div class="input-group input-group-merge">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon-search2"><i data-feather="credit-card"></i></span>
      </div>
      <input type="hidden" [(ngModel)]="item.jenisAntrian" />
      <input [(ngModel)]="item.noKepesertaan" type="text" class="form-control"
        placeholder="Silahkan Isi atau Scan Nomor BPJS / NIK" aria-label="Silahkan Isi atau Scan Nomor BPJS / NIK"
        aria-describedby="basic-addon-search2" autocomplete="off" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="cekKepesertaan()" *ngIf="!isLoadingBPJS">
      <span [data-feather]="'search'" [class]="'mr-25'"></span>Cari
    </button>
    <button type="button" class="btn btn-primary" *ngIf="isLoadingBPJS">
      <span [data-feather]="'loader'" [class]="'mr-25 spinner'"></span> Mengecek Kepesertaan ...
    </button>
  </div>
</ng-template>
<!-- / Modal -->