<div class="content-wrapper">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>

        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-12 col-lg-8 col-md-12 col-sm-12 col-xs-12 kb-search-content ">
                <div class="card cursor">
                    <!-- <img alt="knowledge-base-image" class="card-img-top" src="assets/images/denah_rs.jpg">
                        <div class="card-body text-center">
                            <h4>Denah Rumah Sakit</h4>
                        </div> -->
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3960.5382491931873!2d107.63833481519332!3d-6.945653094981871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e9e5448083e3%3A0x6b51c6f29c0d26f0!2sRSJP%20Paramarta%20%E2%80%93%20Rumah%20Sakit%20Khusus%20Jantung%20%26%20Pembuluh%20Darah%20Paramarta%20Bandung!5e0!3m2!1sid!2sid!4v1637572715857!5m2!1sid!2sid"
                        width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

        </div>

    </div>
</div>