<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row match-height">

            <div class="col-lg-2">
            </div>

            <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content col-lg-offset-2">
                <div class="card cursor" (click)="changePage('Umum')">

                    <img alt="knowledge-base-image" class="card-img-top" src="assets/images/antrian-umum.png">
                    <div class="card-body text-center">
                        <h4>Umum</h4>
                        <!-- <p class="text-body mt-1 mb-0">Ambil antrian untuk pasien Umum.</p> -->
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                <div class="card cursor" (click)="changePage('BPJS')">

                    <img alt="knowledge-base-image" class="card-img-top" src="assets/images/antrian-bpjs_2.png">
                    <div class="card-body text-center">
                        <h4>BPJS</h4>
                        <!-- <p class="text-body mt-1 mb-0">Ambil antrian untuk pasien BPJS.</p> -->
                    </div>

                </div>
            </div>

            <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                <div class="card cursor" (click)="changePage('Asuransi')">

                    <img alt="knowledge-base-image" class="card-img-top" src="assets/images/antrian-asuransi.png">
                    <div class="card-body text-center">
                        <h4>Asuransi</h4>
                        <!-- <p class="text-body mt-1 mb-0">Mendaftarkan secara Mandiri.</p> -->
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                <div class="card cursor" (click)="changePage('Perusahaan-In')">

                    <img alt="knowledge-base-image" class="card-img-top" src="assets/images/antrian-perusahaan.png">
                    <div class="card-body text-center">
                        <h4>Perusahaan-In</h4>
                        <!-- <p class="text-body mt-1 mb-0">Konfirmasi kedatangan anda.</p> -->
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>