<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <section id="input-sizing">
            <form [formGroup]="formGroup">
                <div class="card">
                    <div class="card-body">
                        <div class="centers" *ngIf="!isInfoPasien  && !isInfoPasienBaru">

                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-4"></div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label for="largeInput">
                                            <h3>Masukkan No RM</h3>
                                        </label>
                                        <input class="form-control form-control-lg" type="text"
                                            placeholder="Nomor RM" (keyup)="noRmFormat()" maxlength="8" formControlName="noCm" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" hidden="true">
                                <div class="col-12 col-md-3 col-lg-4"></div>
                                <div class="col-12 col-md-2 col-lg-2">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="opt1" value="baru" formControlName="jenisPasien"
                                            name="jenisPasien" class="custom-control-input" />
                                        <label class="custom-control-label" for="opt1">Pasien Baru</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-2 col-lg-2">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="opt2" value="lama" name="jenisPasien"
                                            formControlName="jenisPasien" class="custom-control-input" checked />
                                        <label class="custom-control-label" for="opt2">Pasien Lama</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-2">
                                <div class="col-12 col-md-3 col-lg-4"></div>

                                <div class="col-12 col-md-6 col-lg-4">
                                    <button type="button" class="btn btn-outline-primary mb-1" rippleEffect
                                        style="width:100%" (click)="getPasienByNoCM()">Selanjutnya</button>
                                </div>
                            </div>

                            <!-- <div style="text-align:center">
                                <button mat-raised-button color="accent" class="btnTemplate" style="color:white"
                                    (click)="getPasienByNoCM()">Selanjutnya
                                </button>

                            </div> -->
                            <!-- <img *ngIf="loading" style="margin-top:10px"
                                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->

                        </div>

                        <div class="centers" *ngIf="isInfoPasien">
                            <div class="row">
                                <div class="col-12 col-md-3 col-lg-4"></div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-header " style="display: inline;">
                                            <h3>No. RM : {{noCm}}</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text"> Nama Pasien </p>
                                            <h4 class="card-title"> {{namaPasien}}</h4>

                                            <p class="card-text">Jenis Kelamin </p>
                                            <h4 class="card-title"> {{jenisKelamin}}</h4>

                                            <p class="card-text"> No. Identitas </p>
                                            <h4 class="card-title"> {{noIdentitas}}</h4>

                                            <p class="card-text"> Tempat / Tanggal Lahir </p>
                                            <h4 class="card-title"> {{tempatTglLahir}}</h4>

                                            <p class="card-text">Alamat </p>
                                            <h4 class="card-title"> {{alamat}}</h4>

                                            <p class="card-text">Kebangsaan </p>
                                            <h4 class="card-title"> {{kebangsaan}}</h4>

                                            <p class="card-text"> No. Telpon </p>
                                            <h4 class="card-title"> {{noTelpon}}</h4>
                                            <div class="row mt-2">



                                                <div class="col-12  col-md-12">
                                                    <button type="button" class="btn btn-outline-primary mb-1"
                                                        rippleEffect style="width:100%"
                                                        (click)="pilihPoli()">Selanjutnya</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="centers" *ngIf="isInfoPasienBaru">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <h4 class="card-header">Silahkan Lengkapi Data Anda</h4>
                                        <div class="card-body">

                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label class="label-required">NIK</label>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="NIK"
                                                            [(ngModel)]="item.nik"
                                                            [ngModelOptions]="{standalone: true}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label class="label-required">Nama Pasien</label>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text"
                                                            placeholder="Nama Pasien" [(ngModel)]="item.nama"
                                                            [ngModelOptions]="{standalone: true}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label class="label-required">Tempat Lahir</label>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text"
                                                            placeholder="Tempat Lahir" [(ngModel)]="item.tempatLahir"
                                                            [ngModelOptions]="{standalone: true}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label class="label-required">Tgl Lahir</label>
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="yyyy-mm-dd"
                                                            name="register-tgl" id="register-tgl"
                                                            [(ngModel)]="item.tglLahir" ngbDatepicker
                                                            #basicDP="ngbDatepicker"
                                                            [ngModelOptions]="{standalone: true}">
                                                        <div class="input-group-append">
                                                            <button
                                                                class="btn btn-outline-secondary feather icon-calendar"
                                                                (click)="basicDP.toggle()" type="button"
                                                                rippleEffect></button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label>Jenis Kelamin </label>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="opt1" value="1" name="opt1"
                                                            [(ngModel)]="item.jk" 
                                                            class="custom-control-input"
                                                            [ngModelOptions]="{standalone: true}" />
                                                        <label class="custom-control-label" for="opt1"
                                                            style="text-align:left">Laki-laki
                                                        </label>

                                                    </div>
                                                    <div class="custom-control custom-radio">
                                                        <input type="radio" id="opt2" value="0" name="opt1"
                                                            [(ngModel)]="item.jk" 
                                                            class="custom-control-input"
                                                            [ngModelOptions]="{standalone: true}" />
                                                        <label class="custom-control-label" for="opt2"
                                                            style="text-align:left">Perempuan
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label class="label-required">No HP </label>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="No HP"
                                                            [(ngModel)]="item.nohp"
                                                            [ngModelOptions]="{standalone: true}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label class="label-required">No BPJS </label>
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" placeholder="No BPJS"
                                                            [(ngModel)]="item.nobpjs"
                                                            [ngModelOptions]="{standalone: true}" />
                                                    </div>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-6 col-xl-10">
                                                    <label class="label-required">Alamat </label>
                                                    <div class="form-group">
                                                        <textarea class="form-control" rows="3" type="text"
                                                            placeholder="Alamat Lengkap" [(ngModel)]="item.alamat"
                                                            [ngModelOptions]="{standalone: true}"></textarea>
                                                    </div>
                                                </div>
                                                <!--       <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <label>Agama</label>
                                                    <div class="form-group">
                                                        <ng-select class="ng-select-size-lg" [items]="listRuangan"
                                                            [(ngModel)]="item.ruangan" [ngModelOptions]="{standalone: true}">
                                                        </ng-select>
                                                    </div>
                                                </div> -->

                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <button type="button" class="btn btn-success" (click)="saveData()"
                                                        rippleEffect style="width:100%">
                                                        Simpan
                                                    </button>
                                                </div>
                                                <div class="col-12 col-md-6 col-lg-3 col-xl-2">
                                                    <button type="button" class="btn btn-info" (click)="tutupPasien()"
                                                        rippleEffect style="width:100%">
                                                        Tutup
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="row">
                                <div class="col-12 col-md-3 col-lg-4"></div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="card">
                                        <div class="card-header " style="display: inline;">
                                            <h3>NIK : {{noIdentitas}}</h3>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text"> Nama Pasien </p>
                                            <h4 class="card-title"> {{namaPasien}}</h4>

                                            <p class="card-text">Jenis Kelamin </p>
                                            <h4 class="card-title"> {{jenisKelamin}}</h4>

                                            <p class="card-text"> Status Kawin </p>
                                            <h4 class="card-title"> {{statusKawin}}</h4>

                                            <p class="card-text"> Tempat / Tanggal Lahir </p>
                                            <h4 class="card-title"> {{tempatTglLahir}}</h4>

                                            <p class="card-text">Alamat </p>
                                            <h4 class="card-title"> {{alamat}}</h4>

                                            <p class="card-text"> No. Telpon </p>
                                            <h4 class="card-title"> {{noTelpon}}</h4>
                                            <div class="row mt-2">

                                                <div class="col-12  col-md-12">
                                                    <button type="button" class="btn btn-outline-primary mb-1"
                                                        rippleEffect style="width:100%"
                                                        (click)="pilihPoli()">Selanjutnya</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div> -->

                        </div>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>