<div class="content-wrapper">
    <div class="content-body">
        <!-- content-header component -->
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row match-height">
            <!-- <div class="row"> -->
                <!-- <div class="col-12"> -->
                    <!-- <div class="input-group ml-1 mr-1">
                        <h2 >Dokter yang tersedia di ruangan Penyakit Dalam :</h2>
                    </div> -->
                    <div class="input-group ml-1 mr-1 mb-1">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i data-feather="search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Cari..." [(ngModel)]="bookmarkText" />
                    </div>
                <!-- </div> -->

            <!-- </div> -->
            <style>
                .card-dokter {
                    min-width: 280px;
                    padding-left: 2px;
                    padding-right: 2px;
                }
            </style>
            <div class="container" >
                <!-- <div class="row">
                    <div class="col-sm-6">
                        one column
                    </div>
                    <div class="col-sm-6">
                        two column
                    </div>
                </div> -->
                <div class="row justify-content-md-center match-height">
                    <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let items of listDokter | filter: bookmarkText:'namadokter'">
                        <div   class="card p-0 card-dokter">
                            <div>
                                <div class="card-header {{items.badge}}" >
                                    <div class="row">
                                        <div class="col-2">
                                            <i class="fa fa-user-md" style="font-size: 50px !important;"></i>
                                        </div>
                                        <div class="col-10">
                                            <h4 class="card-title" style="white-space: normal; overflow: hidden;  text-overflow: ellipsis;  text-align: center;">
                                            {{items.namadokter}}</h4> 
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="padding-bottom:0.5rem; padding-top: 0.5rem; font-weight: 800; font-size: 12px;">
                                    <div class="col-12 ml-0 pl-0">
                                        <div class="row">
                                            <span class="col-sm-12 m-0 p-0">*Jam Praktek</span>
                                        </div>
                                        <div class="row">
                                            <span class="col-sm-3  m-0 p-0 text-left">Jam</span>
                                            <span class="col-sm-9  m-0 p-0 text-left">: {{items.jammulai}} - {{items.jamakhir}}</span>
                                            <span class="col-sm-3  m-0 p-0 text-left">Quota</span>
                                            <span class="col-sm-3  m-0 p-0 text-left">: {{items.quota}}</span>
                                            <span class="col-sm-3  m-0 p-0 text-left">Sisa</span>
                                            <span class="col-sm-3  m-0 p-0 text-left">: {{items.sisa}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer" style="text-align: center; padding-top: .5rem; padding-bottom: 1rem; border-top: 1px solid #D8D6DE;">
                                    <div class="row">
                                        <button type="button" rippleeffect="" (click)="pilihDokter(items)" class="btn btn-info col-sm-12 waves-effect" 
                                            style="cursor: pointer; border-radius: 0;">
                                            Pilih
                                        </button>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </div>
            <div class="col-12 " *ngIf="isDokterNull" style="text-align: center;">
                <h2>
                    Tidak ada jadwal dokter di poli ini.!
                </h2>
            </div>

        </div>

    </div>
</div>