
<div class="header-navbar navbar navbar-expand-lg align-items-center navbar-shadow navbar-light floating-nav" style="background: white;
color: #777777;">
    <div class="navbar-container d-flex content">
        <div class="bookmark-wrapper d-flex align-items-center">
            <a aria-current="page" class="nuxt-link-exact-active nuxt-link-active"
                style="display: flex; height: 100%;"><img style="object-fit: cover; height: 50px;"
                    src="assets/img/logo_only.png"><span
                    style="font-size: 18px; margin-left: 20px; font-weight: bold; display: flex; align-items: center;">
                    <div class="labels" style="line-height: 1; color: #000; align-self: center;">
                        <div style="font-size: 2.3rem;">RSUD BALI MANDARA</div>
                        <div style="font-weight: 500; font-size:1.2rem; margin-top: 5px;">TRANSMEDIC</div>
                    </div>
                </span>
            </a>
        </div>
        <ul class="nav navbar-nav align-items-center ml-auto">
            <li class="nav-item d-none d-lg-block"><a type="button" class="nav-link nav-link-style btn"><span
                        class="ficon font-medium-5 feather icon-moon"></span></a></li>
            <li ngbdropdown="" class="nav-item dropdown-user">
                <span id="navbarUserDropdown" ngbdropdowntoggle="" aria-haspopup="true" aria-expanded="false"
                    class="dropdown-toggle nav-link dropdown-user-link">
                    <div class="user-nav d-sm-flex d-none">
                        <span class="user-name font-weight-bolder" [routerLink]="['/index']" pTooltip="Kembali"
                            style="cursor: pointer;">
                            <h5><span class="tanggal" style="background:rgba(234, 84, 85, 0.12); font-size: 1.3rem;">{{tgl}}</span>
                                <span class="jam" style="background:rgba(234, 84, 85, 0.12); font-size: 1.3rem;">{{jamSekarang}}</span></h5>

                        </span>
                     
                    </div>
               
                </span>
            </li>
        </ul>
    </div>
</div>

<div class="app-content">

    <div class="p-grid">
        <div class="p-col-3">
            <div class="card p-zero card-m-b15" *ngFor="let itemkelas of listKelas; let i = index">
                <div class="p-grid">
                    <div class="p-col-4 box">
                        <div class="box-mini bg-gradient-info">
                            <div class="f-xs w-800">{{itemkelas.kelas}}</div>
                            <div class="f-xl w-600">{{itemkelas.total}}</div>
                        </div>
                    </div>
                    <div class="p-col-8 box">
                        <div class="box-large">
                            <div class="f-xs w-400">Terisi <span class="box-count">{{itemkelas.terisi}}</span></div>
                            <div class="f-xs w-400">Tersedia <span class="box-count">{{itemkelas.tersedia}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="p-col-9">
            <div class="p-grid">
                <div class="p-col-4" *ngFor="let items of listRuangan; let i = index">
                    <div class="card p-zero bg-gradient">
                        <div class="card-content" style="background-image: url('assets/img/panel_bg.png');">
                            <!-- <img class="card-img-absolute" src="" alt=""> -->
                            <div class="f-sm w-800" style="color:#000" >{{items.namaruangan}}</div>
                            <div class="p-grid">
                                <div class="p-col-4 box-1">
                                    <div class="box-1-body bg-white-transparan">
                                        <div class="f-xxl w-800">{{items.total}}</div>
                                        <div class="f-sm w-600">Total</div>
                                    </div>
                                </div>
                                <div class="p-col-4 box-1">
                                    <div class="box-1-body bg-white-transparan">
                                        <div class="f-xxl w-800">{{items.terisi}}</div>
                                        <div class="f-sm w-600">Terisi</div>
                                    </div>
                                </div>
                                <div class="p-col-4 box-1">
                                    <div class="box-1-body bg-white-transparan">
                                        <div class="f-xxl w-800">{{items.tersedia}}</div>
                                        <div class="f-sm w-600">Tersedia</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
        </div>
    </div>



</div>