<div class="content-wrapper">
    <div class="content-body">
        <app-content-header [contentHeader]="contentHeader"></app-content-header>
        <div class="row match-height">
            <div class="row">
                <div class="col-lg-1">
                </div>
                <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content ">
                    <div class="card cursor" (click)="showPopUp('Promosi & Kegiatan - Terbaru',modalSuccess)">
                        <img alt="knowledge-base-image" class="card-img-top"
                            src="assets/images/promosi-kegiatan-terbaru.png">
                        <div class="card-body text-center">
                            <h4>Terbaru</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                    <div class="card cursor" (click)="showPopUp('Promosi & Kegiatan - Berita',modalSuccess)">
                        <img alt="knowledge-base-image" class="card-img-top"
                            src="assets/images/promosi-kegiatan-berita.png">
                        <div class="card-body text-center">
                            <h4>Berita</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                    <div class="card cursor" (click)="showPopUp('Promosi & Kegiatan - Promosi',modalSuccess)">
                        <img alt="knowledge-base-image" class="card-img-top"
                            src="assets/images/promosi-kegiatan-promosi.png">
                        <div class="card-body text-center">
                            <h4>Promosi</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                    <div class="card cursor" (click)="showPopUp('Promosi & Kegiatan - Penyuluhan',modalSuccess)">
                        <img alt="knowledge-base-image" class="card-img-top"
                            src="assets/images/promosi-kegiatan-penyuluhan.png">
                        <div class="card-body text-center">
                            <h4>Penyuluhan</h4>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-2 col-md-6 col-sm-6 col-xs-12 kb-search-content">
                    <div class="card cursor"
                        (click)="showPopUp('Promosi & Kegiatan - Pendidikan & Pelatihan',modalSuccess)">
                        <img alt="knowledge-base-image" class="card-img-top"
                            src="assets/images/promosi-kegiatan-pendidikan.png">
                        <div class="card-body text-center">
                            <h4>Pendidikan & Pelatihan </h4>
                        </div>
                    </div>
                </div>

            </div>
           
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #modalSuccess let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">{{title}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-12" style="font-size:17px" *ngIf="isLoad">
            <div innerHTML="{{item.deskripsi}}"></div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="modal.close('Accept click')" rippleEffect>
            Tutup
        </button>
    </div>
</ng-template>
<!-- / Modal -->