@import '@core/scss/base/pages/page-knowledge-base';
@import '@core/scss/angular/libs/toastr.component.scss';

// Dark Layout
.dark-layout {
  .kb-search-content-info {
    .kb-search-content {
      .card-img-top {
        background-color: #3f4860 !important;
      }
    }
  }
}

.cursor{
  cursor: pointer;
}




.judulhead .judulheadd{
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  border-radius: 0.428rem;
  padding:10px;
}

@media (max-width: 910px) {
  .hide-leutik{
    display: none;
  }
}